.modal {
  position: fixed;
  display: none;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20000;
  background-color: rgba($color-black, 0.8);
  animation-name: fadeIn;
  animation-duration: 0.4s;
  overflow: auto;

  &__content {
    position: absolute;
    height: 50rem;
    width: 75%;
    top: 50%;
    left: 50%;
    background-color: $color-white;
    transform: translate(-50%, -50%);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }

  &__header {
    height: 20%;
    width: 100%;
    margin-bottom: 1rem;
  }

  &__footer {
    height: 20%;
    width: 100%;
    margin-top: 1rem;
  }
  &__body {
    position: relative;
    display: block;
    width: 100%;
    height: 60%;

    &-bob {
      display: inline-block;
      text-align: center;
      position: relative;
      width: 20rem;
      background-size: cover;
      height: 100%;
      margin: 0 auto;
    }
  }
}